*{
    margin: 0;
}
body{
    background-color: #222;
}
.palette{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vw;
    width: 100%;
    font-family: 'Color Font';
    font-size: 4vw;
}
.palette *{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.palette *:hover{
    cursor: pointer;
}
.red{
    color: #f00;
    background-color: #222;
}
.red:hover{
    color: #222;
    background-color: #f00;
}
.orange{
    color: #f70;
    background-color: #222;
}
.orange:hover{
    color: #222;
    background-color: #f70;
}
.yellow{
    color: #ff0;
    background-color: #222;
}
.yellow:hover{
    color: #222;
    background-color: #ff0;
}
.green{
    color: #0f0;
    background-color: #222;
}
.green:hover{
    color: #222;
    background-color: #0f0;
}
.blue{
    color: #00f;
    background-color: #222;
}
.blue:hover{
    color: #222;
    background-color: #00f;
}
.indigo{
    color: #107;
    background-color: #222;
}
.indigo:hover{
    color: #222;
    background-color: #107;
}
.violet{
    color: #a0f;
    background-color: #222;
}
.violet:hover{
    color: #222;
    background-color: #a0f;
}
.white{
    color: #fff;
    background-color: #222;
}
.white:hover{
    color: #222;
    background-color: #fff;
}
.gray{
    color: #777;
    background-color: #222;
}
.gray:hover{
    color: #222;
    background-color: #777;
}
.black{
    color: #000;
    background-color: #222;
}
.black:hover{
    color: #222;
    background-color: #000;
}
.module-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5vw;
}
.module{
    background-color: #f00;
    width: 30%;
    aspect-ratio: 1/1;
}
.module *{
    margin: 0.2vw;
}
.top-part{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.screens{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.screens *{
    margin-top: 2%;
    width: 100%;
    height: 60%;
}
input{
    width: 100%;
    height: 100%;
    text-align: center;
}
input:hover{
    cursor: pointer;
}
.right-part{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.status-light-container{
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.status-light{
    background-color: #223;
    border-radius: 50%;
    width: 30%;
    aspect-ratio: 1/1;
    margin-right: 5%;
}
.arrows{
    height: 30%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.arrows *{
    width: 40%;
    aspect-ratio: 1/1;

}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.arrow *{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p2, .arrow-input, .screens .screen div{
    display: none;
}
.submit{
    height: 20%;
    width: 90%;
    margin-left: 5%;
}
.screen{
    font-family: 'Module Font';
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}
.screen:hover{
    cursor: pointer;
}
.keyboard{
    height: 35%;
    width: 100%;
    font-family: 'Keyboard Font';
    font-size: 3.1vw;
    text-align: center;
    line-height: 1.1;
    color: #111;
}
.edgework, .tips{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.edgework input{
    background-color: #111;
    width: 30vw;
    height: 8vw;
    color: #fff;
    margin: 2vw,0;
    font-family: 'Module Font';
    font-size: 2vw;
}
.answer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}